
body {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: dodgerblue;
}

main {
  border-radius: 10px;
  background: #f2f2f2;
  padding: 20px;
  width: 40%;
  /* text-align: center; */
}

input[type="name"],
input[type="email"],
textarea {
  width: 100%;
  margin: 8px 0;
  padding: 14px 20px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

button[type="submit"] {
  width: 100%;
  font-size: 1.2em;
  color: gold;
  background: #4caf50;
  margin: 8px 0;
  padding: 14px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background: #45a049;
}
